.container {
    background-color: darkgrey;
    padding: 1%;
}

.predictedPerson {
    background-color: #04C8DE;
    margin: 1%;
    padding: 1%;
}

.title {
    padding: 1%;
    text-align: left;
}

.section {
    text-align: left;
    padding-left: 1%;
}

.attribute {
    float: left;
    padding-left: 1%;
}

.element:hover {
    background-color: mediumpurple;
    cursor: pointer;
}

.element {
    display: flex;
    justify-content: space-between;
}